
#linkCreateTree * {
  display: inline;
  cursor: pointer;
}
#linkCreateTree {
  background-color: transparent;
  text-decoration: none;
  font-size: 90%;
  color: black;
  margin: 20px;
}
#linkCreateTree:hover {
  background-color: orange;
}
#imgCreateTree {
  background-repeat: no-repeat;
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.tree_name {
  display: inline-block;
  margin: 8px;
}

.tree:hover > .controlBtns {
  display: inline-block;
}
.controlBtns {
  display: none;
  width: auto;
  height: 1.2em;
}
.controlBtns:hover {
  background-color: orange;
  height: 1.4em;
}
