
#linkCreateTree * {
  display: inline;
  cursor: pointer;
}
#linkCreateTree {
  background-color: transparent;
  text-decoration: none;
  font-size: 90%;
  color: black;
}
#linkCreateTree:hover {
  background-color: orange;
}
#imgCreateTree {
  background-repeat: no-repeat;
  width: 18px;
  height: auto;
  vertical-align: middle;
}

#listTrees > * {
  margin: 10px;
}
