
<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Sign Up</h1>
  <form action="" method="post" name="registration">
  <!--{{ form.csrf_token }}-->
  <p>
      Username:<br>
      <input type=text name=username>
      {% for error in form.errors.username %}
        <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
  </p>
  <p>
      Password:<br>
      <input type=password name=passwd>
      {% for error in form.errors.passwd %}
        <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
  </p>
  <p>
      Email:<br>
      <input type=text name=email>
      {% for error in form.errors.email %}
        <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
  </p>
  <p><input type="submit" value="Sign Up"></p>
  </form>
{% endblock %}
