html {
  background: url("background_treeCentral.png") no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

body {
  margin: 0;
  padding: 0;
}

#dashboard {
  padding: 5px 10px 5px 10px;
  color: #545454;
  background: linear-gradient(to top, #DDDDDD, white);
}

#dashboard > *,
.dashLink > * {
  display: inline;
}

#linkAbout {
  font-weight: bold;
  font-size: 140%;
  color: #723900;
}

.dashLink {
  text-decoration: none;
  color: black;
  font-size: 110%;
}
.dashLink:hover {
  background-color: orange;
}
.dashLinkImg {
  background-repeat: no-repeat;
  width: 24px;
  height: auto;
  vertical-align: middle;
}
.dashLink_right {
  float: right;
}

#fieldFlashMsg > * {
  padding: 5px 20px 5px 10px;
  color: #E62E00;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

/* marked field in the center of page */
.using_field {
  width: 30%;
  margin: 0px auto;
  text-align: left;
  padding:  35px;
  border: 1px;
  border-radius:  25px;
  background-color: rgba(217, 217, 217, 0.1);
}

input.text {
  margin-bottom:  12px;
  width:  95%;
  padding:  .4em;
}

fieldset {
  padding:  0;
  border: 0;
  margin-top: 25px;
}

.link_as_button * {
  display: inline;
  cursor: pointer;
}
.link_as_button {
  background-color: transparent;
  text-decoration: none;
  font-size: 90%;
  color: black;
  margin: 20px;
}
.link_as_button:hover {
  background-color: orange;
}
.link_as_button img {
  background-repeat: no-repeat;
  width: 18px;
  height: auto;
  vertical-align: middle;
}

