html {
  background: url("background_treeCentral.png") no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

body {
  margin: 0;
  padding: 0;
}

#dashboard {
  padding: 5px 10px 5px 10px;
  color: #545454;
  background: linear-gradient(to top, #DDDDDD, white);
}

#dashboard > *,
.dashLink > * {
  display: inline;
}

#linkAbout {
  font-weight: bold;
  font-size: 140%;
  color: #723900;
}

.dashLink {
  text-decoration: none;
  font-size: 110%;
  color: black;
}
.dashLink:hover {
  background-color: orange;
}
.dashLinkImg {
  background-repeat: no-repeat;
  width: 24px;
  height: auto;
  vertical-align: middle;
}
.dashLink_right {
  float: right;
}

#fieldFlashMsg > * {
  padding: 5px 20px 5px 10px;
  color: #E62E00;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

