html {
  background: url("tree_background.png") no-repeat center left fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

body {
  margin: 0;
  padding: 0;
}

#headline {
  width: 100%;
  border-bottom: 2px solid black;
}

#control_board {
  width: 38%;
  background: linear-gradient(white, #C2F0C2);
}

#btnTree {
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: auto;
}

.CBbtn {
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: auto;
  display: inline;
  float: right;
  padding: 0 5px 0 5px;
}
.CBbtn:hover {
  background-color: orange;
}

#branch_link {
  resize: none;
  line-height: 1em;
  vertical-align: center;
  width: 100%;
}

#form_privileges table {
  width: 100%;
  border-collapse: collapse;
  margin : auto auto 0.7em auto;
}
#form_privileges table tr {
  border-bottom: 1px solid black;
}
#form_privileges table tr > * {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
#form_privileges table tr :not(.priv_nickname):not(.priv_bydefault) {
  text-align: center;
}
