
<html>
  <head>
    {% if title %}
      <title>{{title}} - treemind</title>
    {% else %}
      <title>Welcome to treemind</title>
    {% endif %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='themes/default/base/style.css') }}" />

    <script src="{{ url_for('static', filename='libs/jquery-1.11.1.min.js') }}"></script>
  </head>
  <body>
    <!--
    <div>Microblog: <a href="/index">Home</a></div>
    <hr>
    -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>
