<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>{{title}} - TreeMind</title>
    {% else %}
      <title>TreeMind</title>
    {% endif %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='themes/default/base/style.css') }}" />

    <script src="{{ url_for('static', filename='libs/jquery-1.11.1.min.js') }}"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  </head>
  <body>
    <div id="dashboard">
      <a id='linkAbout' class="dashLink" href='/about'>
        <p id="lblAbout">TreeMind</p>
      </a>
      <hr>

      {% if user.is_authenticated() %}
        <p style="padding: 0 0 0 50px;">&nbsp</p>
        <a id='linkUser' class="dashLink" href='/user'>
          <img id="dash_btnUser" class='dashLinkImg'
            src="{{ url_for('static', filename='themes/default/base/btnUser.png') }}"
            alt="User manager" title="user manager"/>
          <p id="lblUser">{{user.nickname}}</p>
        </a>

        <p style="padding: 0 0 0 20px;">&nbsp</p>
        <a id='linkTrees' class="dashLink" href='/trees'>
          <img id="dash_btnTrees" class='dashLinkImg'
            src="{{ url_for('static', filename='themes/default/base/btnTrees.png') }}"
            alt="Trees manager" title="trees manager"/>
          <p id="lblTrees">trees</p>
        </a>

        <a id='linkLogOut' class="dashLink dashLink_right" href='/logout'>
          <img id="dash_btnLogOut" class='dashLinkImg'
            src="{{ url_for('static', filename='themes/default/base/btnLogOut.png') }}"
            alt="Log out" title="log out"/>
        </a>
      {% else %}
        <a id='linkLogIn' class="dashLink dashLink_right" href='/login'>
          <p id="lblLogIn">Log in</p>
        </a>

        <p style="padding: 0 0 0 20px; float: right">&nbsp</p>
        <a id='linkSignUp' class="dashLink dashLink_right" href='/signup'>
          <p id="lblSignUp">Sign up</p>
        </a>
      {% endif %}

      <div id='fieldFlashMsg'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <li>{{ message }} </li>
          {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>

    {% block content %}{% endblock %}

  </body>
</html>
