<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='themes/default/tree/style.css') }}" />

    <script src="{{ url_for('static', filename='libs/jstree/jstree.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/jstree/themes/default/style.css') }}" />

    <script src="{{ url_for('static', filename='libs/splitter/jquery.splitter-0.14.0.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/splitter/themes/default/jquery.splitter.css') }}" />

    <script src="{{ url_for('static', filename='libs/ckeditor/ckeditor.js') }}"></script>
  </head>

    <table id="headline">
      <tr>
        <td id="control_board">
          <table style="width: 100%;">
            <td>
              <img id="btnTree"
                src="{{ url_for('static', filename='themes/default/tree/btnTree.png') }}"
                alt="The tree"/>
              <select id="selectTrees">
                {% if trees %}
                  <option selected="selected">{{ curtree.name }}</option>
                  {% for tree in trees %}
                    {% if tree.id != curtree.id %}
                      <option>{{ tree.name }}</option>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </select>
            </td>
            <td style="vertical-align: bottom" >
              <p>Branch link:</p>
              <textarea id="branch_link" rows=1 readonly=true placeholder="<a link to the current branch>"></textarea>
            </td>
            <td>
              <img id="btnSettings" class='CBbtn'
                src="{{ url_for('static', filename='themes/default/tree/btnSettings.png') }}"
                alt="Make settings" title="settings"/>
              <img id="btnSearch" class='CBbtn'
                src="{{ url_for('static', filename='themes/default/tree/btnSearch.png') }}"
                alt="Search" title="search"/>
            </td>
          </table>
        </td>
        <td id="ckeditor_board">
          <div id="ckeditor_toolbar"></div>
          <div id="ckedit_activator" contenteditable="false" style="display: none;"></div>
        </td>
      </tr>
    </table>

    <div id="wrapper">
      <div id="tree_field">
        <div id="tree"></div>
      </div>
      <div id="nestedocs_field">
        <div id="nestedocs"></div>
      </div>
    </div>

    <div id="form_privileges" title="Privileges">
      <table>
        <tr>
          <th>nickname</th>
          <th>read</th>
          <th>read & write</th>
        </tr>
      </table>
    </div>

    <script>
    function isTextSelected(input){
      input = input[0];
      var startPos = input.selectionStart;
      var endPos = input.selectionEnd;

      if ( (endPos - startPos) != 0 ) {
        return true;
      }
      return false;
    }
    function isChecked(val){
      return val ? "checked" : "";
    }

    $(function() {
      var ckedit_inst = CKEDITOR.inline( document.getElementById("ckedit_activator") );   // tie CKEDITOR with this element while other elements aren't created
      // waitting while ckeditor will be activated and then build 'splitter'. In other case size of '$('#headline').height()' will be wrong
      ckedit_inst.on('instanceReady', function() {
        $('#wrapper').height($(window).height()-$('#headline').height()).split({orientation:'vertical', position:'38%'});
      })

      var clipboard;
      $('#tree')
        .jstree({
          'core' : {
            'data' : {
              "url" : "/mngtree?tree_id={{curtree.id}}&nestedocs=false&cmd=load_subbs",
              "data" : function (node) {
                  return { "id" : node.id };
                },
              "dataType" : "json"
            },
            'locked' : true // access all operations with tree
          },
          "plugins" : [ "contextmenu", "dnd" ],
          "dnd" : {
            "is_draggable" : true
          }
        })
        // invoked after jstree has loaded
        .on("ready.jstree", function (e, data) {
          $(this).jstree(true).select_node({{latestUsedB}});
        })
        .on("create_node.jstree", function (e, data) {
          $.get("/mngtree?tree_id={{curtree.id}}&nestedocs=false&cmd=create_node" +
            "&position=" + data.position +
            "&parent_id=" + data.parent
            , $.proxy(function(id) {
            id = Number(id);
            $(this).jstree(true).set_id(data.node, id);
          }, this))
        })
        .on("delete_node.jstree", function (e, data) {
          $.get("/mngtree?tree_id={{curtree.id}}&nestedocs=false&cmd=delete_node&id=" + data.node.id)
          $(this).jstree(true).select_node(data.parent);
        })
        .on("after_close.jstree", function (e, data) {
          $.get("/mngtree?tree_id={{curtree.id}}&nestedocs=false&cmd=fold&id=" + data.node.id)
        })
        .on("after_open.jstree", function (e, data) {
          $.get("/mngtree?tree_id={{curtree.id}}&nestedocs=false&cmd=unfold&id=" + data.node.id)
        })
        .on("rename_node.jstree", function (e, data) {
          $.post("/mngtree", { nestedocs : "false", cmd : "rename_node", id : data.node.id, data : data.text })
        })
        .on("move_node.jstree", function (e, data) {
          $.get("/mngtree?tree_id={{curtree.id}}&nestedocs=false&cmd=move_node&id=" + data.node.id +
            "&position=" + data.position +
            "&new_parent=" + data.parent
            )
        })
        .on("open_privileges.jstree", function (e, data) {
          $( "#form_privileges" ).dialog({
            minHeight: 280,
            minWidth: 450,
            modal: true,
            close: function () {
              $('#form_privileges table td:not(th)').remove();
              }
          });
          $.get("/mngtree?tree_id={{curtree.id}}&nestedocs=false&cmd=get_privileges&id=" + data.branch_id, function(data) {
            data = $.parseJSON(data);
            console.log(data);
            $('#form_privileges table').append(
            "<tr>" +
              "<td class='priv_bydefault'>By default</td>" +
              "<td> <input type='checkbox' class='priv_read'" + isChecked(data.bydefault.read) + "> </td>" +
              "<td> <input type='checkbox' class='priv_rw'" + isChecked(data.bydefault.rw) + "> </td>" +
            "</tr>"
            )

            for ( curuser in data.users ) {
              $('#form_privileges table').append(
              "<tr>" +
                "<td class='priv_nickname'>" + curuser.nickname + "</td>" +
                "<td> <input type='checkbox' class='priv_read'" + isChecked(curuser.read) + "> </td>" +
                "<td> <input type='checkbox' class='priv_rw'" + isChecked(curuser.rw) + "> </td>" +
              "</tr>"
              )
            }
          });
        })
        .on("changed.jstree", function (e, data) {
          if (data.selected.length == 1) {
            var branch_id = data.selected[0];

            $('#branch_link').text(window.location.host + '/' +
                                   "{{curtree.owner.nickname}}" + '/' +
                                   "{{curtree.name}}" + '/' +
                                  branch_id )
            // On first click select all line; on follow clicks select what user wants
            .on('mouseup', function(e) {
              if ( ! isTextSelected($(this)) ) {
                $(this).select();
                return false;
              }
            });

            $('#nestedocs').jstree('destroy');
            $('#nestedocs')
              .jstree({
                'core' : {
                  'data' : {
                    "url" : "/mngtree?tree_id={{curtree.id}}&nestedocs=true&cmd=load_subbs",
                    "data" : function (node) {
                        if (node.id == '#') {
                          return { "id" : branch_id };
                        } else {
                          return { "id" : node.id };
                        }
                      },
                    "dataType" : "json"
                  },
                  'locked' : true // access all operations with tree
                },
                "plugins" : ["contextmenu", "dnd", "ckeditor_support" ],
                "dnd" : {
                  "is_draggable" : true
                }
                /*
                "plugins" : ["wholerow", "contextmenu", "dnd", "search", "ckeditor_support" ],
                */
              })
              .on("create_node.jstree", function (e, data) {
                if ( data.parent == '#' ) { data.parent = branch_id; }
                $.get("/mngtree?tree_id={{curtree.id}}&nestedocs=true&cmd=create_node" +
                  "&position=" + data.position +
                  "&parent_id=" + data.parent
                  , $.proxy(function(id) {
                  id = Number(id);
                  $(this).jstree(true).set_id(data.node, id);
                }, this))
              })
              .on("delete_node.jstree", function (e, data) {
                $.get("/mngtree?tree_id={{curtree.id}}&nestedocs=true&cmd=delete_node&id=" + data.node.id)
                $(this).jstree(true).select_node(data.parent);
              })
              .on("after_close.jstree", function (e, data) {
                $.get("/mngtree?tree_id={{curtree.id}}&nestedocs=true&cmd=fold&id=" + data.node.id)
              })
              .on("after_open.jstree", function (e, data) {
                $.get("/mngtree?tree_id={{curtree.id}}&nestedocs=true&cmd=unfold&id=" + data.node.id)
              })
              .on("move_node.jstree", function (e, data) {
                $.get("/mngtree?tree_id={{curtree.id}}&nestedocs=true&cmd=move_node&id=" + data.node.id +
                  "&position=" + data.position +
                  "&new_parent=" + data.parent
                  )
              })
              .on("clipboard_save.jstree", function (e, data) {
                console.log('clipboard_save');
                clipboard = data;
                console.log(clipboard);
              })
              .on("clipboard_get.jstree", function (e, data) {
                console.log('clipboard_get');
                return clipboard;
              })
              .on("savedata.jstree", function (e, data) {
                $.post("/mngtree", { tree_id : {{curtree.id}}, nestedocs : "true", cmd : "save_data", id : data.id, data : data.text })
              });
          }
        });

        // set focus to the tree
        $('#nestedocs_field, #tree_field')
          .on('click', function(e) {
            var curTree = $(this).children('.jstree').jstree(true);
            if (curTree) {
              curTree.deselect_all();
              if (curTree._data.core.focusedT == false) {
                curTree.trigger('focus');
              }
            }
          })
          .on('mouseenter', function(e) {
            var curTree = $(this).children('.jstree').jstree(true);
            if (curTree && curTree._data.core.focusedT == false) {
              curTree.trigger('focus');
              curTree.trigger('click');
            }
          })
          .on('mouseleave', function(e) {
            var curTree = $(this).children('.jstree').jstree(true);
            if (curTree && curTree._data.core.focusedT == true) {
              curTree._data.core.focusedT = false;
            }
          });
        //

        $('#btnUser').on('click', function(e) {
          location.href='/user';
        });
        $('#btnSettings').on('click', function(e) {
          alert("Setting board is under development");
        });
        $('#btnSearch').on('click', function(e) {
          alert("Search function is under development");
        });
        $('#btnLogOut').on('click', function(e) {
          location.href='/logout';
        });
        $('#selectTrees').on('change', function(e) {
          var optionSelected = $("option:selected", this);
          var valueSelected = this.value;
          location.href='/trees/' + valueSelected;
        });

      $('body').on('click', '#form_privileges tr td input[type="checkbox"]', function() {
                console.log("AAAAAAAAA");
         // code here
      });

    });
    </script>
{% endblock %}
