
<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

  <h1>User manager</h1>

  <div class="using_field">
    <p>Name: <b>{{user.nickname}}</b></p>
    <p>Email: <b>{{user.email}}</b></p>
    <button type="button" id="btnDelUser">Delete account</button>
    <br>
    <button type="button" id="btnLogOut">Log out</button>
  </div>

  <script>
  $(function() {
    $('#btnDelUser').on('click', function(e) {
      var answer = confirm("Are you sure you want to delete account?\nIt'll delete all your data!");
      if (answer == true) {
        location.href='/removeuser';
      }
    });
    $('#btnLogOut').on('click', function(e) {
      location.href='/logout';
      console.log("logout ");
    });
  });
  </script>
{% endblock %}
